

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat';
  font-weight: bold;
}

p {
  color: grey;
}

/* Heading */

.first-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.price-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section{
  color: #fff;
}

/* navigation-bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat'
}

/* Title Section */

#title{
  background-color: #C69CF4;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 10% 20%;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
  font-weight: 500;
}

/* Tittle image */
.dog-image {
  transform: rotate(25deg);
  width: 350px;
  height: 670px;
  position: absolute;
  right: 10%
}

/* Feature Section */

#features {
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.features-icon {
  color: #C69CF4;
  padding-bottom: 1rem;
}

.features-icon:hover{
  color: #6C16C7;
}

#testimonials {
  background-color: #A866EE;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding: 3%;
  background-color: #D4D1FA;
}

.press-image {
  width: 10%;
  margin: 20px;
}

#pricing {
  padding: 5%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.card-header {
  color: #fff;
  background-color: #A866EE;
}

.price-column{
  padding: 3% 2%;
}

#cta {
  background-color: #A866EE;
}

.cta-line {
  font-size: 3rem;
}

/* Footer */

.footer-link{
  color: black;
  padding: 10px;
}

.footer-link:hover {
  color: #6C16C7;
}

.Copyright-line {
  padding-top: 1.5rem;
}

@media (max-width: 1130px) {
  .dog-image{
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
